.lg-thumb-item.active,
.lg-thumb-item.active:hover {
  border-color: #f8fafc !important;
}

.lg-thumb-item:hover {
  border-color: #94a3b8 !important;
}

.lg-thumb-item {
  border-radius: 0px !important;
  border-color: #475569 !important;
  border-width: 0 0 6px 0 !important;
  cursor: pointer !important;
}

.lg-progress {
  background-color: #94a3b8 !important;
}
