.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
}

.gallery a {
  height: 100%;
  width: 100%;
}

.gallery img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
